<div class="container">
  <h1 class="my-3">All the Flats</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
          <%= image_tag flat.picture_url, class: "card-img-top" %>
          <div class="card-body">
            <h3 class="card-title"><%= flat.name %></h3>
            <h6><%= flat.address %></h6>
            <p class="card-text"><%= flat.description %></p>
            <p><i class="fas fa-users"></i><%= flat.number_of_guests %>
             <i class="fas fa-dollar-sign"></i><%= flat.price_per_night %></p>
            <%= link_to 'More details', flat_path(flat), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-warning" %>
            <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
